.list {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    width: 150px;
    margin: auto;
}

.list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}